<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726937222908-9e229vptfj286ra9mj1uuaj4a2q42eae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726937222908-9e229vptfj286ra9mj1uuaj4a2q42eae</string>
	<key>API_KEY</key>
	<string>AIzaSyDCtiWVw_GCN9lsY9THu-UKkL3iKcUDKAc</string>
	<key>GCM_SENDER_ID</key>
	<string>726937222908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joelkingsleyr.Pokemon-Dictionary</string>
	<key>PROJECT_ID</key>
	<string>pokemon-dictionary-a2z</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-dictionary-a2z.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726937222908:ios:73fecf6ab2471e36d4e179</string>
</dict>
</plist>